overdue-chore-notifier-.json
{
  "updatedAt": "2026-04-09T18:06:19.977Z",
  "createdAt": "2026-04-01T19:37:16.544Z",
  "id": "L3imBfTSCaRtnSBI",
  "name": "Overdue Chore Notifier",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        1016
      ],
      "id": "f646669a-1b5a-488f-8aca-f516b1128d18",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ChoreAssignment",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "dueDate",
              "condition": "lt",
              "keyValue": "={{ DateTime.now() }}"
            },
            {
              "keyName": "completedAt",
              "condition": "is",
              "keyValue": "null"
            },
            {
              "keyName": "notifiedOverdue",
              "condition": "is",
              "keyValue": "false"
            },
            {
              "keyName": "kidId",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        992
      ],
      "id": "92d1a434-b269-4c74-bdaa-1b7bd05d7a4a",
      "name": "get_overdue_assignments",
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "GBvkr2itkiJQlc9g",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1128520915232227328",
          "mode": "list",
          "cachedResultName": "Family Server",
          "cachedResultUrl": "https://discord.com/channels/1128520915232227328"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "={{ $('loop_kids').item.json.discordUserId }}",
          "mode": "id"
        },
        "content": "=# :money_with_wings: Overdue chores!\nHey {{ $('loop_kids').item.json.name }}!\n\nYou are about to miss out on some cash! The following chores are overdue or haven't been marked as complete yet.\n\n## Over due items:\n{{ $('get_overdue_assignments').all().map(\nitem => {\n  const match = $('loop_chores').all().find(\n  chore => chore.json.id === item.json.choreId\n  );\n\n  return match ?\n'- ' + \"**\" + match.json.name + \"**\" + '\\n' +\n'  - value: ' + '$' + match.json.value.toFixed(2) + '\\n' +\n'  - due: ' + item.json.dueDate.split('T')[0]\n: null\n}\n).join('\\n') }}\n\nYou're missing out on **${{ $('get_value_sum').item.json.sum_value.toFixed(2) }}**! That's a lot of :bread:!\n\nDon't miss out, get your chores done now! :angry:\n\nLove,\nMom and Dad <3",
        "options": {},
        "embeds": {
          "values": [
            {
              "image": "https://tenor.com/view/oopsies-ohno-gif-25793283.gif"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1088,
        848
      ],
      "id": "4c5f5335-f90a-48d0-8486-5a38c4f8a5a5",
      "name": "Send a message",
      "webhookId": "e9c8da67-0a69-403e-aa94-dc604b1652b4",
      "executeOnce": true,
      "credentials": {
        "discordBotApi": {
          "id": "23p8t8drWw18Fp4s",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "ChoreTemplate",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.choreId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        1040
      ],
      "id": "70f3dc5c-b355-4f00-a3ce-312932c54b64",
      "name": "get_chore",
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "GBvkr2itkiJQlc9g",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Kid",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        1112
      ],
      "id": "8b3e0e68-1a7b-41b8-958e-4f4df38d94ef",
      "name": "get_all_kids",
      "credentials": {
        "supabaseApi": {
          "id": "GBvkr2itkiJQlc9g",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        1112
      ],
      "id": "c557b85c-c0ee-4952-bccf-781fe5501e0a",
      "name": "loop_kids"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'get_overdue_assignments' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        992
      ],
      "id": "5befe6f7-2bd6-4c06-82a4-6649f503e3bd",
      "name": "loop_chores",
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "value"
            }
          ]
        },
        "options": {
          "outputFormat": "separateItems",
          "skipEmptySplitFields": true
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        864,
        848
      ],
      "id": "21687641-84d2-4cce-b01e-931c55986cb0",
      "name": "get_value_sum",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ChoreAssignment",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notifiedOverdue",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1760,
        1016
      ],
      "id": "9f0c4800-fe6c-4942-975b-98dc81a00c36",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "GBvkr2itkiJQlc9g",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $prevNode.name === 'get_overdue_assignments1' }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1536,
        1016
      ],
      "id": "73a73651-e2f8-44a1-b4ae-c96d02e2fbd5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ChoreAssignment",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "dueDate",
              "condition": "lt",
              "keyValue": "={{ DateTime.now() }}"
            },
            {
              "keyName": "completedAt",
              "condition": "is",
              "keyValue": "null"
            },
            {
              "keyName": "notifiedOverdue",
              "condition": "is",
              "keyValue": "false"
            },
            {
              "keyName": "kidId",
              "condition": "eq",
              "keyValue": "={{ $('get_all_kids').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1312,
        848
      ],
      "id": "cb955e48-87ea-427b-ae8a-1a5315443997",
      "name": "get_overdue_assignments1",
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "GBvkr2itkiJQlc9g",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord/payday-summary",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        1208
      ],
      "id": "310f927b-36b6-420a-8de8-8f3b33c1f080",
      "name": "Webhook",
      "webhookId": "ecf024fb-1249-4550-8f1e-44129699a24e"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get_all_kids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_overdue_assignments": {
      "main": [
        [
          {
            "node": "loop_chores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_chore": {
      "main": [
        [
          {
            "node": "loop_chores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_all_kids": {
      "main": [
        [
          {
            "node": "loop_kids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "get_overdue_assignments1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop_kids": {
      "main": [
        [],
        [
          {
            "node": "get_overdue_assignments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop_chores": {
      "main": [
        [
          {
            "node": "get_value_sum",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_chore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_value_sum": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "loop_kids",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_overdue_assignments1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "get_all_kids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "get_all_kids": [
      {
        "json": {
          "id": "dc048080-b3ec-44bf-9d7a-09f9b2483901",
          "name": "Serenity",
          "avatar": "🧒",
          "discordUsername": "Lia",
          "discordUserId": "1456508927050252314",
          "color": "#6366f1",
          "createdAt": "2026-04-02T14:17:19.593156+00:00"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "fbb7c3d3-ade6-4322-861c-60843372e626",
          "name": "Ethan",
          "avatar": "🧒",
          "discordUsername": "RedDragon0625",
          "discordUserId": "1128519873169981480",
          "color": "'#010101'",
          "createdAt": "2026-04-02T18:14:03.248141+00:00"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "cd7b560d-9da1-4df3-b614-8a32c81d05e4",
  "activeVersionId": "cd7b560d-9da1-4df3-b614-8a32c81d05e4",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-04-01T19:37:16.546Z",
      "createdAt": "2026-04-01T19:37:16.546Z",
      "role": "workflow:owner",
      "workflowId": "L3imBfTSCaRtnSBI",
      "projectId": "TxCYhXtkt9tpKOLj"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-17T13:42:12.000Z",
    "createdAt": "2026-04-09T18:06:19.977Z",
    "versionId": "cd7b560d-9da1-4df3-b614-8a32c81d05e4",
    "workflowId": "L3imBfTSCaRtnSBI",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 17
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -256,
          1016
        ],
        "id": "f646669a-1b5a-488f-8aca-f516b1128d18",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "ChoreAssignment",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "dueDate",
                "condition": "lt",
                "keyValue": "={{ DateTime.now() }}"
              },
              {
                "keyName": "completedAt",
                "condition": "is",
                "keyValue": "null"
              },
              {
                "keyName": "notifiedOverdue",
                "condition": "is",
                "keyValue": "false"
              },
              {
                "keyName": "kidId",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          416,
          992
        ],
        "id": "92d1a434-b269-4c74-bdaa-1b7bd05d7a4a",
        "name": "get_overdue_assignments",
        "retryOnFail": true,
        "executeOnce": false,
        "credentials": {
          "supabaseApi": {
            "id": "GBvkr2itkiJQlc9g",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1128520915232227328",
            "mode": "list",
            "cachedResultName": "Family Server",
            "cachedResultUrl": "https://discord.com/channels/1128520915232227328"
          },
          "sendTo": "user",
          "userId": {
            "__rl": true,
            "value": "={{ $('loop_kids').item.json.discordUserId }}",
            "mode": "id"
          },
          "content": "=# :money_with_wings: Overdue chores!\nHey {{ $('loop_kids').item.json.name }}!\n\nYou are about to miss out on some cash! The following chores are overdue or haven't been marked as complete yet.\n\n## Over due items:\n{{ $('get_overdue_assignments').all().map(\nitem => {\n  const match = $('loop_chores').all().find(\n  chore => chore.json.id === item.json.choreId\n  );\n\n  return match ?\n'- ' + \"**\" + match.json.name + \"**\" + '\\n' +\n'  - value: ' + '$' + match.json.value.toFixed(2) + '\\n' +\n'  - due: ' + item.json.dueDate.split('T')[0]\n: null\n}\n).join('\\n') }}\n\nYou're missing out on **${{ $('get_value_sum').item.json.sum_value.toFixed(2) }}**! That's a lot of :bread:!\n\nDon't miss out, get your chores done now! :angry:\n\nLove,\nMom and Dad <3",
          "options": {},
          "embeds": {
            "values": [
              {
                "image": "https://tenor.com/view/oopsies-ohno-gif-25793283.gif"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1088,
          848
        ],
        "id": "4c5f5335-f90a-48d0-8486-5a38c4f8a5a5",
        "name": "Send a message",
        "webhookId": "e9c8da67-0a69-403e-aa94-dc604b1652b4",
        "executeOnce": true,
        "credentials": {
          "discordBotApi": {
            "id": "23p8t8drWw18Fp4s",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "ChoreTemplate",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "keyValue": "={{ $json.choreId }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          864,
          1040
        ],
        "id": "70f3dc5c-b355-4f00-a3ce-312932c54b64",
        "name": "get_chore",
        "executeOnce": false,
        "credentials": {
          "supabaseApi": {
            "id": "GBvkr2itkiJQlc9g",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "Kid",
          "returnAll": true
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -32,
          1112
        ],
        "id": "8b3e0e68-1a7b-41b8-958e-4f4df38d94ef",
        "name": "get_all_kids",
        "credentials": {
          "supabaseApi": {
            "id": "GBvkr2itkiJQlc9g",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          192,
          1112
        ],
        "id": "c557b85c-c0ee-4952-bccf-781fe5501e0a",
        "name": "loop_kids"
      },
      {
        "parameters": {
          "options": {
            "reset": "={{ $prevNode.name === 'get_overdue_assignments' }}"
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          640,
          992
        ],
        "id": "5befe6f7-2bd6-4c06-82a4-6649f503e3bd",
        "name": "loop_chores",
        "executeOnce": false
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "sum",
                "field": "value"
              }
            ]
          },
          "options": {
            "outputFormat": "separateItems",
            "skipEmptySplitFields": true
          }
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          864,
          848
        ],
        "id": "21687641-84d2-4cce-b01e-931c55986cb0",
        "name": "get_value_sum",
        "executeOnce": false
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "ChoreAssignment",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "notifiedOverdue",
                "fieldValue": "true"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1760,
          1016
        ],
        "id": "9f0c4800-fe6c-4942-975b-98dc81a00c36",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "GBvkr2itkiJQlc9g",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "reset": "={{ $prevNode.name === 'get_overdue_assignments1' }}"
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1536,
          1016
        ],
        "id": "73a73651-e2f8-44a1-b4ae-c96d02e2fbd5",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "ChoreAssignment",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "dueDate",
                "condition": "lt",
                "keyValue": "={{ DateTime.now() }}"
              },
              {
                "keyName": "completedAt",
                "condition": "is",
                "keyValue": "null"
              },
              {
                "keyName": "notifiedOverdue",
                "condition": "is",
                "keyValue": "false"
              },
              {
                "keyName": "kidId",
                "condition": "eq",
                "keyValue": "={{ $('get_all_kids').item.json.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1312,
          848
        ],
        "id": "cb955e48-87ea-427b-ae8a-1a5315443997",
        "name": "get_overdue_assignments1",
        "retryOnFail": true,
        "executeOnce": false,
        "credentials": {
          "supabaseApi": {
            "id": "GBvkr2itkiJQlc9g",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "discord/payday-summary",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -256,
          1208
        ],
        "id": "310f927b-36b6-420a-8de8-8f3b33c1f080",
        "name": "Webhook",
        "webhookId": "ecf024fb-1249-4550-8f1e-44129699a24e"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "get_all_kids",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_overdue_assignments": {
        "main": [
          [
            {
              "node": "loop_chores",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_chore": {
        "main": [
          [
            {
              "node": "loop_chores",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_all_kids": {
        "main": [
          [
            {
              "node": "loop_kids",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "get_overdue_assignments1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "loop_kids": {
        "main": [
          [],
          [
            {
              "node": "get_overdue_assignments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "loop_chores": {
        "main": [
          [
            {
              "node": "get_value_sum",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "get_chore",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_value_sum": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "loop_kids",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_overdue_assignments1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "get_all_kids",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nelson Torres",
    "name": "overdue_chore_notifierv1.0.0",
    "description": "",
    "autosaved": true
  },
  "tags": []
}